.header{
    text-align: center;
}

button {
    padding: 8px 15px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 900;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: #e8e8e8;
   }
   
   button:hover::before {
    width: 100%;
   }



   .itemid{
       text-align: left;
       white-space: nowrap;
       overflow-x: auto;
       max-width: 130px
   }

   .itemsku{
        text-align: center;
        white-space: nowrap;
        overflow-x: auto;
        max-width: 100px
   }

   .categoryid{
        text-align: center;
        white-space: nowrap;
        overflow-x: auto;
        min-width: 140px
   }

   .title{
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;
    max-width: 380px
}

.warrantytime{
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    max-width: 120px
}

.peso{
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    max-width: 120px
}

.price{
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    max-width: 100px
}

.availablequantity{
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    max-width: 100px
}

.freeshipping{
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    min-width: 120px
}

.cataloglisting{
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    min-width: 120px
}

.listingtypeid{
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    min-width: 120px
}

.color-rojo {
    background-color: rgba(194, 92, 92, 0.753);
}
.color-gris {
    color: rgba(124, 124, 124, 0.133);
}