<div style="display: flex; margin:5px 0px ">    
      <div style="margin-right: 5px;">
        <button >
          <i class="fa-solid fa-plus" style="padding-right: 3px;"></i>
          <label style="cursor: pointer;">Crear</label>
        </button>
      </div>
      <div style="margin-right: 5px;">
        <a href="https://www.mercadolibre.com.ar/ventas/listado?actions&encryptSelect&filters=CLAIMS_OPEN|MEDIATION_OPEN&fromCurrent=&page=1&search=&sort=DATE_CLOSED_DESC&startPeriod=&toCurrent=" target="_blank">
          <button >
            <i class="fa-solid fa-triangle-exclamation" style="padding-right: 3px;"></i>
            <label style="cursor: pointer;">Reclamos</label>
          </button>
        </a>        
      </div>
      <div style="margin-right: 5px;">
        <a href="/control-precios/reclamos" >
          <button >
            <i class="fa-solid fa-inbox" style="padding-right: 3px;"></i>
            <label style="cursor: pointer;"> Cargar Reclamos</label>
          </button>
        </a>        
      </div>
    
      <!-- Una barra de búsqueda que filtra la tabla. -->
      <div style="margin-left: auto;align-items: center">
        <input style="margin: 0px 5px;width:400px" placeholder="Buscar" type="text" class="form-control"
          >
      </div>
</div>
