<main class="d-flex justify-content-center flex-column ">


    <div id="pdf" class="d-flex flex-column" style="overflow-y: hidden;" *ngIf="!cargando">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <span class="nav-link active" id="reputation-tab" data-bs-toggle="tab" data-bs-target="#reputation"
                    type="button" role="tab" aria-controls="reputation" aria-selected="true">Resumen</span>
                <span class="nav-link" id="reclamos-tab" data-bs-toggle="tab" data-bs-target="#reclamos" type="button"
                    role="tab" aria-controls="reclamos" aria-selected="false">Reclamos</span>
                <span class="nav-link" id="mediaciones-tab" data-bs-toggle="tab" data-bs-target="#mediaciones"
                    type="button" role="tab" aria-controls="mediaciones" aria-selected="false">Mediaciones</span>
                <span class="nav-link" id="cancelaciones-tab" data-bs-toggle="tab" data-bs-target="#cancelaciones"
                    type="button" role="tab" aria-controls="cancelaciones" aria-selected="false">Cancelaciones</span>
                <span class="nav-link" id="demoras-tab" data-bs-toggle="tab" data-bs-target="#demoras" type="button"
                    role="tab" aria-controls="demoras" aria-selected="false">Demoras</span>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="reputation" role="tabpanel" aria-labelledby="reputation-tab">
                <aside class="d-flex p-3 flex-column">
                    <div class="rounded">
                        <button class="rounded-5" (click)="downloadPDF()">
                            <i class="fa-solid fa-file-pdf" style="padding-right: 3px;"></i>
                            <label style="cursor: pointer;">Descargar PDF</label>
                        </button>
                        <button class="rounded-5 px-3 mx-2" (click)="edit(actualizar)">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </div>
                    <div id="pdf" class="d-flex flex-column " style="overflow-y: hidden;" *ngIf="!cargando">
                        <aside class="d-flex p-3">
                            <div class="shadow card w-100 ">
                                <div class="card-body d-flex">
                                    <div class=" pe-5 border-end">
                                        <h5 style="color:green">Mercadolider Platinum</h5>
                                        <div [ngSwitch]="this.reclamo.color">
                                            <div *ngSwitchCase="'verdeOscuro'">
                                                <img src=".\assets\img\rep\repVerde.png" alt="">
                                            </div>
                                            <div *ngSwitchCase="'verde'">
                                                <img src=".\assets\img\rep\repVerdeClaro.png" alt="">
                                            </div>
                                            <div *ngSwitchCase="'amarillo'">
                                                <img src=".\assets\img\rep\repAmarilla.png" alt="">
                                            </div>
                                            <div *ngSwitchCase="'naranja'">
                                                <img src=".\assets\img\rep\repNaranja.png" alt="">
                                            </div>
                                            <div *ngSwitchCase="'rojo'">
                                                <img src=".\assets\img\rep\repRoja.png" alt="">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="w-100 d-flex flex-column justify-content-center align-items-center">
                                        <p class="px-4"> <b>Medimos tus ventas de los últimos 60 días</b> Desde el
                                            {{reputationDayRange()}} hasta hoy</p>
                                        <div class="w-100 d-flex justify-content-around">
                                            <p class="px-4">Total de ventas: {{this.reclamo.ultimos60Dias}}</p>
                                            <p class="px-4">Total con mercadoenvios: {{this.reclamo.mercadoenvios}}</p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </aside>
                        <aside class=" d-flex px-3 gap-3 m-2 justify-content-around">
                            <div class="shadow card rounded" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Reclamos</h5>
                                    <h5 [ngClass]="((this.reclamo.reclamos.length * 100) /
                                this.reclamo.ultimos60Dias) < 1 ? 'good': 'bad'" class="mb-2 text-muted">
                                        {{((this.reclamo.reclamos.length * 100) /
                                        this.reclamo.ultimos60Dias).toFixed(2)}}% </h5>
                                    <p class="card-text">Son {{this.reclamo.reclamos.length}} de tus ventas</p>
                                    <p class="card-text">Minimo permitido: {{((1 *
                                        this.reclamo.ultimos60Dias)/100).toFixed(0)}}</p>
                                </div>
                            </div>

                            <div class="shadow card rounded" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Mediaciones</h5>
                                    <h5 [ngClass]="((this.reclamo.mediaciones.length * 100) /
                                this.reclamo.ultimos60Dias) < 0.5 ? 'good': 'bad'" class="mb-2 text-muted">
                                        {{((this.reclamo.mediaciones.length * 100) /
                                        this.reclamo.ultimos60Dias).toFixed(2)}}%</h5>
                                    <p class="card-text">Son {{this.reclamo.mediaciones.length}} de tus ventas</p>
                                    <p class="card-text">Minimo permitido: {{((0.5 *
                                        this.reclamo.ultimos60Dias)/100).toFixed(0)}}
                                    </p>
                                </div>
                            </div>

                            <div class="shadow card rounded" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Cancelaciones</h5>
                                    <h5 [ngClass]="((this.reclamo.cancelaciones.length * 100) /
                                this.reclamo.ultimos60Dias) < 0.5 ? 'good': 'bad'" class="mb-2 text-muted">
                                        {{((this.reclamo.cancelaciones.length * 100) /
                                        this.reclamo.ultimos60Dias).toFixed(2)}}%</h5>
                                    <p class="card-text">Son {{this.reclamo.cancelaciones.length}} de tus ventas</p>
                                    <p class="card-text">Minimo permitido: {{((0.5 *
                                        this.reclamo.ultimos60Dias)/100).toFixed(0)}}
                                    </p>
                                </div>
                            </div>

                            <div class="shadow card rounded" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Demoras</h5>
                                    <h5 [ngClass]="((this.reclamo.demoras.length * 100) /
                                this.reclamo.mercadoenvios) < 8 ? 'good': 'bad'" class="mb-2 text-muted">
                                        {{((this.reclamo.demoras.length * 100) /
                                        this.reclamo.mercadoenvios).toFixed(2)}}%</h5>
                                    <p class="card-text">Son {{this.reclamo.demoras.length}} de tus ventas</p>
                                    <p class="card-text">Minimo permitido: {{((8 *
                                        this.reclamo.mercadoenvios)/100).toFixed(0)}}
                                    </p>
                                </div>
                            </div>
                        </aside>
                        <aside class=" p-3 ">
                            <div class="shadow card rouded ">
                                <div class="card-body">
                                    <h5 class="card-title">Detalles</h5>
                                    <ul>
                                        <li class="card-text">Motivo mas recurrente de reclamo fue
                                            <b>"{{this.tipoReclamo}}"</b> y el
                                            motivo
                                            fue <b>"{{this.detalleReclamo}}"</b>
                                        </li>
                                        <li class="card-text">La franja más afectada por despachos demorados son los
                                            <b>{{masDemoradas}}
                                                de 8 a 14hs</b>, Se demoraron
                                            esos dias el {{((this.cantMasDemoradas *
                                            100)/this.reclamo.demoras.length).toFixed(2)}}% de
                                            las
                                            ventas con Mercadoenvios
                                        </li>
                                        <li>Ventas necesarias para recuperar:
                                            <b>{{((this.reclamo.reclamos.length/0.015)-this.reclamo.ultimos60Dias).toFixed(0)}}</b>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </aside>
                    </div>
                </aside>
            </div>
            <div class="tab-pane fade" id="reclamos" role="tabpanel" aria-labelledby="reclamos-tab">
                <div class="d-flex px-3 gap-3 m-2 justify-content-around">

                    <div class="Tabla " data-toggle="table">
                        <button class="rounded-5 px-3 mx-2" (click)="updateArrays(csv,'reclamos')">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <div class="table-responsive" style=" margin: 8px;max-height: 69vh; border-radius: 15px;">
                            <table class="table table-bordered table-striped table-hover " style="overflow-y: hidden; ">
                                <thead class="sticky-top" style="z-index: 1; background-color: white;">
                                    <tr style="height:20px;overflow: hidden;">
                                        <th class="headers" scope="col" *ngFor="let header of headers1;let i = index">
                                            {{ header }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider"
                                    style="height: 200px; overflow-y: auto; overflow-x: hidden;">
                                    <tr *ngFor="let row of reclamo.reclamos; let i = index ">
                                        <td class="{{cell}}" *ngFor="let cell of headers1_2">
                                            {{ row[cell] }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="mediaciones" role="tabpanel" aria-labelledby="mediaciones-tab">
                <div class="d-flex px-3 gap-3 m-2 justify-content-around">

                    <div class="Tabla " data-toggle="table">
                        <button class="rounded-5 px-3 mx-2" (click)="updateArrays(csv,'mediaciones')">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <div class="table-responsive" style=" margin: 8px;max-height: 69vh; border-radius: 15px;">
                            <table class="table table-bordered table-striped table-hover " style="overflow-y: hidden; ">
                                <thead class="sticky-top" style="z-index: 1; background-color: white;">
                                    <tr style="height:20px;overflow: hidden;">
                                        <th class="headers" scope="col" *ngFor="let header of headers2;let i = index">
                                            {{ header }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider"
                                    style="height: 200px; overflow-y: auto; overflow-x: hidden;">
                                    <tr *ngFor="let row of reclamo.cancelaciones; let i = index ">
                                        <td class="{{cell}}" *ngFor="let cell of headers2_2">
                                            {{ row[cell] }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="cancelaciones" role="tabpanel" aria-labelledby="cancelaciones-tab">
                <div class="d-flex px-3 gap-3 m-2 justify-content-around">

                    <div class="Tabla " data-toggle="table">
                        <button class="rounded-5 px-3 mx-2" (click)="updateArrays(csv,'cancelaciones')">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <div class="table-responsive" style=" margin: 8px;max-height: 69vh; border-radius: 15px;">
                            <table class="table table-bordered table-striped table-hover " style="overflow-y: hidden; ">
                                <thead class="sticky-top" style="z-index: 1; background-color: white;">
                                    <tr style="height:20px;overflow: hidden;">
                                        <th class="headers" scope="col" *ngFor="let header of headers3;let i = index">
                                            {{ header }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider"
                                    style="height: 200px; overflow-y: auto; overflow-x: hidden;">
                                    <tr *ngFor="let row of reclamo.cancelaciones; let i = index ">
                                        <td class="aux" *ngFor="let cell of headers3_2">
                                            {{ row[cell] }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="demoras" role="tabpanel" aria-labelledby="demoras-tab">
                <div class="d-flex px-3 gap-3 m-2 justify-content-around">
                    <div class="Tabla " data-toggle="table">
                        <button class="rounded-5 px-3 mx-2" (click)="updateArrays(csv,'demoras')">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <div class="table-responsive" style=" margin: 8px;max-height: 69vh; border-radius: 15px;">
                            <table class="table table-bordered table-striped table-hover " style="overflow-y: hidden; ">
                                <thead class="sticky-top" style="z-index: 1; background-color: white;">
                                    <tr style="height:20px;overflow: hidden;">
                                        <th class="headers" scope="col" *ngFor="let header of headers4;let i = index">
                                            {{ header }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider"
                                    style="height: 200px; overflow-y: auto; overflow-x: hidden;">
                                    <tr *ngFor="let row of reclamo.demoras; let i = index ">
                                        <td class="{{cell}}" *ngFor="let cell of headers4_2">
                                            {{ row[cell] }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <ng-template #actualizar let-modal>
        <div class="modal-header">
            <h4 class="modal-title" style="text-align:center ;" id="modal-basic-title">Actualizar</h4>

        </div>
        <div class="modal-body">
            <form [formGroup]="repForm" (ngSubmit)="editRep()">
                <div class="mb-2">
                    <label class="mb-2">
                        Ventas en los ultimos 60 dias;
                    </label>
                    <input class="input form-control" type="int" formControlName="ultimos60Dias">
                </div>
                <div class="mb-2">
                    <label class="mb-2">
                        Ventas con MercadoEnvios
                    </label>
                    <input class="inputs form-control" type="int" formControlName="mercadoenvios">
                </div>
                <div class="mb-2">
                    <label class="mb-2">
                        Color de reputacion;
                    </label>
                    <select class="inputs form-control form-select" aria-label="Default select example"
                        formControlName="color">
                        <option value="verdeOscuro">Verde Oscuro</option>
                        <option value="verde">Verde Claro</option>
                        <option value="amarillo">Amarillo</option>
                        <option value="naranja">Naranja</option>
                        <option value="rojo">Rojo</option>
                    </select>
                </div>
                <div class="modal-footer input-group">
                    <button type="submit" class=" rounded-5 btn btn-success btn-modal"
                        (click)="modal.close('Save click')">
                        Guardar cambios
                    </button>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template #csv let-modal> <!-- Modal para cargar actualizaciones -->
        <div class="modal-header">
            <h4 class="modal-title" style="text-align:center ;" id="modal-basic-title">Actualizar</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group" style="display: flex;">
                    <input type="file" class="inputfile" id="csvFile" accept=".csv"
                        (change)="parser($event);modal.close()" #fileInput>
                    <label for="csvFile">
                        <i class="fa-solid fa-upload" style="padding-right: 3px;"></i>
                        Subir CSV
                    </label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </ng-template>

    <div class="spinner-container" *ngIf="cargando"> <!-- Spiner de carga -->
        <div class="loader">
            <span style="--i:1"></span>
            <span style="--i:2"></span>
            <span style="--i:3"></span>
            <span style="--i:4"></span>
            <span style="--i:5"></span>
            <span style="--i:6"></span>
            <span style="--i:7"></span>
            <span style="--i:8"></span>
            <span style="--i:9"></span>
            <span style="--i:10"></span>
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:13"></span>
            <span style="--i:14"></span>
            <span style="--i:15"></span>
            <span style="--i:16"></span>
            <span style="--i:17"></span>
            <span style="--i:18"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
        </div>
    </div>

</main>