<div style="padding: 20px">
    <div style="margin:auto">
        <div class="col-sm-8 m-all-xs p-all-none-xs">
            <div class="card" style="padding: 5px;">
                <h2 class="card-custom-title">Exportar productos</h2>
                <div id="export">
                    <div class="toggle ">
                        <p class="card-custom-text">Exportá el listado de productos en formato excel
                            <strong>(.csv)</strong> para actualizarlos y cargar nuevos de manera masiva.
                        </p>
                        <form method="GET" action="/admin/products/export/">

                            <hr class="m-bottom">

                            <div class="m-bottom">
                                <div class="form-group mb-3">
                                    <label class="checkbox" for="include_descriptions">
                                        <input type="checkbox" data-toggle="checkbox" id="include_descriptions"
                                            name="include_descriptions">
                                        Incluir descripciones
                                    </label>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Exportar lista">
                        </form>
                    </div>
                </div>
            </div>


            <div class="card" style="padding: 5px;">
                <h2 class="card-title">Importar productos</h2>
                <p class="card-text">Importalos a tu tienda subiendo el archivo <strong>.csv</strong> que
                    descargaste, con los nuevos productos o actualizaciones.</p>
<!--
                <form action="/admin/products/import/upload/" method="post" enctype="multipart/form-data">
                    <div style="margin:0;padding:0;display:inline">
                        <input type="hidden" name="csrf_token" value="dUuzjsvcnQWxAT8z">
                    </div>

                    <div class="form-group m-top mb-3">
                        <input type="file" name="products">
                    </div>
                    <div class="form-group mb-3">
                        <label class="checkbox" for="replace">
                            <input type="checkbox" data-toggle="checkbox" value="1" id="replace" name="replace">
                            Actualizar productos existentes
                        </label>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Importar">
                    </div>
                </form>
-->
                


            </div>
        </div>
        <div class="col-sm-4 p-left-none p-right-none-xs m-all-xs">
        </div>
    </div>
</div>