<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/productos">
        <img class="navbar-brand" src="./assets/img/logo.png" alt="logo" width="250rem">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/control">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Web</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="import">Importar/Exportar</a></li>
              <li><a class="dropdown-item" href="https://www.mercadolibre.com.ar/ventas/listado?actions&encryptSelect&filters=CLAIMS_OPEN|MEDIATION_OPEN&fromCurrent=&page=1&search=&sort=DATE_CLOSED_DESC&startPeriod=&toCurrent=">Reclamos ML</a></li>
              <li><a class="dropdown-item" href="/reclamos">Formulario Reclamos</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >Mercadolibre</a>
          </li>
        </ul>
        <div class="d-flex">
          <span>
            <a class="nav-link" href="/login">
              <p><i class="fa-solid fa-lock"></i> Login</p>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>
  <div class="divisor" ></div>
  
  
  
  
  
  
  
