.search{
    display: flex!important;
    flex-direction: row;
    justify-content: flex-end;
}


.headers {
  text-align: center;
}

.precioAct {
  text-align: right;
  width: 90px;
}

.nombre {
  width: 340px;
}

.codigoOxi {
  text-align: center;
  width: 100px;
}

.marca {
  text-align: center;
  width: 80px;
}

.codFabrica{
  text-align: center;
  width: 100px;
}

.cant {
  text-align: center;
  width: 30px;
}

.stock{
  text-align: center;
  width: 50px;
}

.opciones {
  text-align: center;
  width: 70px;
}




/*
tbody {
  display:block;
  height:450px;
  overflow:auto;
  font-size: small;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;/* even columns width , fix width of table too
}

/*
td{
    /*word-wrap: break-word;
    overflow-x: hidden;
    height:fit-content;
    
}

/*
thead {
  width: calc( 100% - 1em ); /*scrollbar is average 1em/16px width, remove it from thead width 
  -ms-flex-item-align: center;
  font-size: medium;
}
/*
table {
  width:fit-content;
}

th {
  width: fit-content;
}
*/
.modalImg {
  
  height: 300px;
}

.imgub{
  float: right;
  display: absolute;
  margin-right:40px ;
}