<div style="display: flex; justify-content: flex-end;">
  <form class="search" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>

<div class="Tabla">
    <table class="table table-bordered table-striped table-hover"  >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Codigo</th>
          <th scope="col">Producto</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let producto of productos; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ producto.Codigo }}
          </td>
          <td>{{ producto.Producto }}</td>
          <td>{{ producto.Precio}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
    
