<!--<div class="Tabla ">
  <div class="table-responsive" style=" margin: 8px; height: 550px; ">
    <table class="table table-bordered table-striped table-hover " style="overflow-y: hidden; ">
      <thead>
        <tr >
          <th class="celda" scope="col" *ngFor="let header of headers">

            {{ header }}
          </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr  *ngFor="let row of productos">
          <td style="overflow-x: hidden; " *ngFor="let cell of objectKeys(row)">
            {{ row[cell] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>-->


<div class="Tabla ">
  <div class="table-responsive" style=" margin: 8px; height: 550px; ">
    <table datatable [dtOptions]="dtOptions" class="row table table-bordered table-striped table-hover " style="overflow-y: hidden; ">
      <thead>
        <tr >
          <th class="celda" scope="col" *ngFor="let header of headers">

            {{ header }}
          </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr  *ngFor="let row of productos">
          <td style="overflow-x: hidden; " *ngFor="let cell of objectKeys(row)">
            {{ row[cell] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>