<div class="container align-self-center pad-t" style="margin-top:40px;">
    <div class="row justify-content-center bg-light">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h2 class="text-center margin-t">Login
          <i class="fa fa-user-circle" aria-hidden="true"></i>
        </h2>
        <hr>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" name="email" >
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" name="password">
          </div>
          <hr>
          <button type="submit" class="btn btn-secondary btn-block" style="margin-right:5px ;" >Iniciar Sesión</button>
          <button type="submit" class="btn btn-danger btn-block" routerLink="/lugares">Cancelar</button>
        </form>
        <hr>
      </div>
    </div>
  </div>
  
