.headers {
    text-align: center;
}

.filtro {
    width: 7px;
    height: 11px;
    margin: 0px;
}

.url {
    text-align: left;
    width: 90px;
    white-space: nowrap;
    overflow-x: auto;
    max-width: 80px
}

.nombre {
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;
    max-width: 290px
}

.categorias {
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;
    max-width: 100px
}

.precio {
    text-align: right;
    width: 90px;
}

.precioProm {
    text-align: right;
    max-width: 90px;
}

.peso {
    text-align: center;
    min-width: 80px;

}

.alto {
    text-align: center;
    min-width: 80px;
}

.ancho {
    text-align: center;
    min-width: 80px;
}

.profundidad {
    text-align: center;
    min-width: 65px;
}

.stock {
    text-align: center;
    min-width: 80px;
}

.tags {
    white-space: nowrap;
    overflow-x: auto;
    max-width: 100px
}

.codigo {
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    max-width: 150px
}

.opciones {
    white-space: nowrap;
    overflow-x: auto;
    max-width: 120px
}

.marca {
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    max-width: 120px
}

.mostrar {
    white-space: nowrap;
    overflow-x: auto;
    align-items: center;
    min-width: 90px;
}

.envio {
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
    min-width: 90px;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "barcode";
    src: url(src\assets\Font\BarcodeFont.ttf);
}

.barcode {
    font-family: "barcode";
    font-size: 153px;
}

button {
    padding: 8px 15px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 900;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

button:hover {
    color: #e8e8e8;
}

button:hover::before {
    width: 100%;
}

.color-amarillo { 
    background-color: rgba(245, 230, 18, 0.753);    
}

.color-rojo {
    background-color: rgba(194, 92, 92, 0.753);
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {

    width: 39%;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: auto;
    border-radius: 20px;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: rgb(206, 55, 55);
}

.inputfile:focus+label {

    outline: -webkit-focus-ring-color auto 5px;
}

.form-check-input:checked {
    background-color: #3f3f40;
    border-color: #4a4c4e;
}

.editar {
    background-color: #b4b4b4;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2x 2px 2px black;
}

.editar:hover {
    transform: scale(1.1);
    transition: 1s;
}