<body class="px-3 overflow-scroll ">
    <nav class="h-30 border-bottom border-top p-2 d-flex align-items-center gap-4 color-black fw-semibold  ">
        <a class="text-decoration-none text-dark" [routerLink]="['/guia']" fragment="seccion1">Excel y CSV</a>
        <a class="text-decoration-none text-dark" [routerLink]="['/guia']" fragment="seccion2">Web</a>
        <a class="text-decoration-none text-dark" [routerLink]="['/guia']" fragment="seccion3">Reputación</a>
    </nav>
    <h1 class="text-center">Preguntas frecuentes</h1>

    <section> <!-- Consideraciones iniciales -->
        <h3>Consideraciones iniciales</h3>
        <ul>
            <li>Todos los archivos de excel usados por la app son CSV. no admite xls o xlsx</li>
            <li>Los CSV de salida son UTF-8. Esto dignifica que estan codificados para nuestro teclado. Si se desea
                abrir en excel mas abajo se explica como</li>
            <li>Si la tablas de productos no cargan, es probable que la computadora de Ignacio este apagada o sin red.
                Verificar</li>
            <li>Si las tablas no cargan, y no es lo anterior, es posible que no se este ejecutando el archivo JAVA.
                puede corregirlo siguiendo los pasos mas abajo detallados</li>
        </ul>
    </section>

    <section class="d-flex flex-column"><!-- Excel y CSV -->
        <h3 class="border-bottom border-top" id="seccion1">Excel y CSV</h3>
        <article>
            <h5 id="UTF-8">Codificacion del CSV</h5>
            <p>Si se quiere abrir el archivo de salida en excel se encontrara que se importa mal, los caracteres
                especiales (acentos, dieresis, etc.) se ven rotos, con la codificacion html.
                Para corregir eso, en vez de abrir el archivo directamente, procederemos a abrir un archivo en blanco
                (recomiendo dejar uno de "verificación").
                Una vez dentro, vamos a datos;
            </p>
            <figure class="d-flex justify-content-center py-5 ">
                <img src=".\assets\img\guias\img1.png" alt="boton importar datos" class="w-80 shadow rounded">
            </figure>
            <p>Una ves seleccionado, se abrira una ventana nueva para configurar la importacion. es la misma que la
                ventana para poner el CSV en filas, pero tendremos un selector nuevo, para elegir que codificacion tiene
                el archivo.
                Abrimos y elegimos <b>Unicode UTF-8</b>. Tambien podemos seleccionar la opcion de los encabezados, pero
                no es necesario.
                A partir de ahi, el resto es normal para un CSV, se elige metodo de separacion por comas y deberia
                quedar bien.
            </p>
            <figure class="d-flex justify-content-center py-5 ">
                <img src=".\assets\img\guias\UnicodeUTF-8.png" alt="Codificacion" class="w-30 shadow rounded">
            </figure>
        </article>
        <!-- <article>
            <h5 id="validar">Validacion XLS</h5>
            <p>Cuando queremos exportar informacion del sistema a la app, siempre conviene hacerlo como XLS, para poder
                validar mas facil. Validar seria verificar que el formato este correcto, esto seria, sacarle el
                encabezado y la linea final. de ser necesario, tambien los separadores o lineas vacias. Cuanto menos
                datos redundantes tenga el archivo mejor. Ejemplo;
            </p>
            <figure class="d-flex justify-content-center py-5">
                <img src="./assets/img/guias/encabezado.png" alt="exportando de sistema" class="w-30 shadow rounded">
            </figure>
            <figure class="d-flex justify-content-center py-5">
                <img src="./assets/img/guias/sinencabezado.png" alt="encabezado" class="w-30 shadow rounded">
            </figure>
            <p>Lo mismo realizamos con el footer de la tabla, para evitar errores de lectura;</p>
            <figure class="d-flex justify-content-center py-5">
                <img src="./assets/img/guias/confooter.png" alt="borrar el footer" class="w-30 shadow rounded">
            </figure>
        </article> -->
    </section>

    <section class="h-60"><!-- web -->
        <h3 class="border-bottom border-top" id="seccion2">Web</h3>
        <p>Esta seccion maneja las publicaciones de la pagina Web. actualmente no hay conexion con la API de TiendaNube,
            por lo que se maneja con CSV.
            La app permite reflejar en los CVS de actualizacion:
        </p>
        <ul>
            <li>Precio</li>
            <li>Precio de oferta</li>
            <li>Envio gratis o no</li>
            <li>Visualizacion en plataforma</li>
            <li>Codigo de barras</li>
        </ul>
        <p>La app no modifica:</p>
        <ul>
            <li>Stock. estos se arrastran de la web a la app cuando se carga el csv de tiendanube</li>
            <li>Cambios en nombre. Se deben realizar dentro de la web. Si la URL cambia, la app generara otro
                publicacion nueva, quedando la anterior obsoleta (recordar borrar)</li>
            <li>cambios en Codigo de Oxi. se deben hacer manualmente en ambas plataformas</li>
        </ul>
        <p> <strong>IMPORTANTE</strong> si se realizan modificaciones en la plataforma web, recordar reflejarlas en la
            app, o se desincronizaran y traera problemas a futuro al exportar (ofertas diferentes, etc)</p>
        <p>
            La app automaticamente pone en 0 los valores de productos Stihl, debido a su normativa de venta digital.
            <b>NO ES UN ERROR DE LA APP</b>
        </p>
        <p>
            Los stock de las publicaciones se actualizan al pasarle el CSV de TiendaNube. Automaticamente detectara el
            stock actual publicado y lo actualiza en los datos de la app.
        </p>

    </section>

    <section class="h-60">
        <h3 class="border-bottom border-top" id="seccion3">Reputacion</h3>
        <p>
            Esta parte tiene diferentes carga de datos. si se quiere la informacion actualizada, hay que actualizar las
            4 que lo componen;
        </p>
        <ul>
            <li>En el caso de Mediaciones, ML no genera un informe, asique hay que crear un CSV y poner las cuatro
                columnas con los nombres que indica la seccion de carga, y la informacion en las filas.</li>
            <li>Reclamos, Cancelaciones y Demoras pueden cargarse directamente como los entrega Mercadolibre, cada vez que se carguen, se actualiza la vista en resumen.</li>
            <li>El boton de descargar PDF permite sacar una vista del resumen</li>
        </ul>
    </section>



    <!-- <section class="h-60">
        <h3 class="border-bottom border-top" id="seccion3">Mercadolibre</h3>
        <p>
            Actualmente esta seccion esta inactiva. Se pueden ver productos de prueba. Esta seccion estara conectada a
            la API de mercadolibre, por lo que arrastrara datos en tiempo real de publicaciones. A futuro esta pensado
            manejar tambien los envios.
        </p>
        <h6>Funcionalidades activas;</h6>
        <ul>
            <li>Carga de reclamos</li>
            <li>Excel de reclamos</li>
            <li>Reclamos activos en mercadolibre</li>
        </ul>
        <h6>Funcionalidades pendientes</h6>
        <ul>
            <li>Actualizacion de productos</li>
            <li>Stock de productos manejada automaticamente</li>
            <li>Manejo de seguimientos</li>
        </ul>
    </section> -->



</body>